flask==3.0.0
pandas
numpy
xgboost
scikit-learn
openpyxl
opencv-python
pytesseract
spacy
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.3/en_core_sci_sm-0.5.3.tar.gz